@model GorgeShipping.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @*<div class="dx-fieldset">
        <div class="dx-fieldset-header">Search by PhoneNumber</div>
        <div class="dx-field">
            <div class="dx-field-label">Phone Number</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Autocomplete()
                    .DataSource(d => d.Mvc().LoadAction("GetUsers"))
                    .MinSearchLength(2)
                    .SearchTimeout(200)
                    .Placeholder("Type to search...")
                )
            </div>
        </div>
    </div>*@
    

</body>
</html>


