@using GorgeShipping.Models


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Gorge Shipping</h2>
    <br />
    <div>
        <form>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <div style="padding-top:20px;"></div>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</body>
</html>
