@model GorgeShipping.Models.Address

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="AddressDetail"></label>
        </div>
        <div class="col">
            <input asp-for="AddressDetail" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="District"></label>
        </div>
        <div class="col">
            <input asp-for="District" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Province"></label>
        </div>
        <div class="col">
            <input asp-for="Province" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Code"></label>
        </div>
        <div class="col">
            <input asp-for="Code" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Note"></label>
        </div>
        <div class="col">
            <input asp-for="Note" readonly class="form-control" />
        </div>
    </div>

