@model GorgeShipping.Models.ViewModel.UserListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h2 class="text-info">Create Contact</h2>

    <form method="post" asp-action="Create">
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Users.Name"></label>
            </div>
            <div class="col-3">
                <input asp-for="Users.Name" class="form-control" />
            </div>
            <span asp-validation-for="Users.Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Users.Email"></label>
            </div>
            <div class="col-3">
                <input asp-for="Users.Email" class="form-control" />
            </div>
            <span asp-validation-for="Users.Email" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TelephoneNumbers.TelNumber"></label>
            </div>
            <div class="col-3">
                <input asp-for="TelephoneNumbers.TelNumber" class="form-control" />
            </div>
            <span asp-validation-for="TelephoneNumbers.TelNumber" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Addresses.AddressDetail"></label>
            </div>
            <div class="col-3">
                <input asp-for="Addresses.AddressDetail" class="form-control" />
            </div>
            <span asp-validation-for="Addresses.AddressDetail" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Addresses.District"></label>
            </div>
            <div class="col-3">
                <input asp-for="Addresses.District" class="form-control" />
            </div>
            <span asp-validation-for="Addresses.District" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Addresses.Province"></label>
            </div>
            <div class="col-3">
                <input asp-for="Addresses.Province" class="form-control" />
            </div>
            <span asp-validation-for="Addresses.Province" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Addresses.Code"></label>
            </div>
            <div class="col-3">
                <input asp-for="Addresses.Code" class="form-control" />
            </div>
            <span asp-validation-for="Addresses.Code" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <input type="submit" class="btn btn-outline-info" value="Create" />
            <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
        </div>
    </form>

    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
